.content {
    height: 90%;
}
.idPhoto {
    width: 161px;
    height: 161px;
    object-fit: cover;
}
.page-link {
    border: 1px solid $success;
    &:hover {
        background-color: $success;
        color: white;
        border: 1px solid $success;
    }
    &.active {
        background-color: $success;
        color: white;
    }
}