// 按鈕
.btn-light {
    border-color: $gray-400;
}
.btn-outline-gray400 {
    border-color: $gray-400;
}
.btn-md {
    padding: 8px 16px 8px 12px;
}
.btn-xl {
    padding: 8px 32px;
}
.btn-2xl {
    padding: 12px 0;
}