.container-backEnd {
    width: 920px;
    margin: 0 auto;
    padding: 32px 0;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: $dark;
    border: 1px solid $gray-400;
    &.active {
        color: $dark;
        background-color: $gray-100;
        border-color: $gray-400;
    }
    &:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    &:last-child {
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
}
.card {
    border: 1px solid $gray-400;
    border-radius: 2px;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $gray-100;
        border-bottom: 1px solid $gray-400;
        padding: 12px 16px;
    }
    &-body {
        padding: 0;
    }
}